%h1 Billing Center
%table.table.table-striped.table-bordered
  %thead
    %th Date
    %th Description
    %th Amount
    %th Stripe ID
  %tbody
    -# @charges.each do |charge|
      %tr
        %td= charge[:created_at]
        %td= charge[:description]
        %td= charge[:amount]
        %td= charge[:stripe_id]

=# @charges
%br/
=# organization.org_charges
