%h1 Billing Center
%table.table.table-striped.table-bordered
  %thead
    %th Date
    %th Description
    %th Amount
    %th Stripe ID
  %tbody
    - if @charges
      - @charges.each do |charges|
        - charges.each do |charge|
          %tr
            %td= charge[:charged_at]
            %td= charge[:description]
            %td= number_with_precision charge[:amount], precision: 2
            %td= charge[:stripe_id]

=# @charges
%br/
=# organization.org_charges
