%h1= course.name
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'Schedule', '#schedule', :'data-toggle' => 'tab'

  .tab-content
    #schedule.tab-pane.active
      #cal_container

:javascript
  $('#cal_container').scal({
    popup: false,
    persistent_time: true,
    submit: function(daytimes) {
      console.log(daytimes)
    }
  })
