%h1 Organization
%ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
  %li.active= link_to 'general', '#general'

.tab-content
  #general.active
    = form_for :organization, url: '/admin/update_org' do |f|
      .clearfix
        %label{for: 'unit_name'} Camper unit name:
        .input= f.text_field :unit_name, placeholder: 'camper, student, etc.'
      = f.submit
      - if flash[:notice] == :success
        .label.success{style: 'margin-left:20px;display:inline-block'} success!
