= render partial: 'time_confirm'
%h1= course.name
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'Schedule', '#schedule', :'data-toggle' => 'tab'

  .tab-content
    #schedule.tab-pane.active
      #cal_container
      #new_content.hide

= render partial: 'cal', locals: { course: course, json: [] }
