%h1= course.name
.tabbable
  %ul.nav.nav-tabs{:'data-tabs' => 'tabs'}
    %li.active= link_to 'Schedule', '#schedule', :'data-toggle' => 'tab'

  .tab-content
    #schedule.tab-pane.active
      #cal_container
      #new_content{style: 'display:none'}

:javascript
  $('#cal_container').scal({
    popup: false,
    persistent_time: true,
    submit: function(daytimes) {
      $.post(
        '/courses/#{course.id}/schedule',
        { daytimes: JSON.stringify(daytimes) },
        function(rsp){
          console.log(rsp)
          if (rsp.success == true) {
            $('#cal_container').fadeOut('slow')
            $('#time_container').fadeOut('slow')
            $('#new_content').prepend('<dl>')
            for (var i=0; i < rsp.tiems.length; i++){
              m = moment(rsp.tiems[i].date)
              month = m.add('m', m.zone()).format('MMMM')
              month_year = m.add('m', m.zone()).format('MMMM YYYY')
              day = m.add('m', m.zone()).format('Do')
              start_time_hour = moment(rsp.tiems[i].start_time).format('hh')
              start_time_minute = moment(rsp.tiems[i].start_time).format('hh')
              start_offset = moment(rsp.tiems[i].start_time).format('A')
              start_offset2 = (start_offset == 'AM' && 'PM' || 'AM')
              end_time_hour = moment(rsp.tiems[i].end_time).format('mm')
              end_time_minute = moment(rsp.tiems[i].end_time).format('mm')
              end_offset = moment(rsp.tiems[i].end_time).format('A')
              end_offset2 = (end_offset == 'AM' && 'PM' || 'AM')
              if ( $('#' + month).length == 0 ) {
                $('#new_content dl').append('<div id="' + month + '"><dt>' + month_year + '</dt></div>')
              }
              $('#' + month).append('<dd id="day' + day + '">' + day + ': </dd>')
              $('#' + month + ' #day' + day).append('<input style="width:20px" type="text" value="' + start_time_hour + '">')
              $('#' + month + ' #day' + day).append(' : ')
              $('#' + month + ' #day' + day).append('<input style="width:20px" type="text" value="' + start_time_hour + '">')
              $('#' + month + ' #day' + day).append('<select style="width:60px;margin-left:5px"> <option value="' + start_offset + '">' + start_offset + '</option> <option value="' + start_offset2 + '">' + start_offset2 + '</option> </select>')
              $('#' + month + ' #day' + day).append(' To ')
              $('#' + month + ' #day' + day).append('<input style="width:20px" type="text" value="' + end_time_hour + '">')
              $('#' + month + ' #day' + day).append(' : ')
              $('#' + month + ' #day' + day).append('<input style="width:20px" type="text" value="' + end_time_hour + '">')
              $('#' + month + ' #day' + day).append('<select style="width:60px;margin-left:5px"> <option value="' + end_offset + '">' + end_offset + '</option> <option value="' + end_offset2 + '">' + end_offset2 + '</option> </select>')
            }
            $('#new_content').append('</dl>')
            $('#new_content').append('<button id="finalize" class="btn btn-success">Finalize</button>')
            $('#new_content').delay(600).fadeIn('slow')
          }
        },
        'json'
      )
    }
  })