<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      Hey there, <%= @instructor.name %>!
      <p />
      You have a new course assignment pending for <%= @course.organization.name %>. Please visit http://<%= @course.organization.name %>.enrollex.org/profile and click "View My Shifts" to accept or reject this assignment. 
      <p />
      <strong>Please respond in <%= @course.organization.instructorShiftExpiryHours %> hours or your priority for this shift will be forfeit.
  </body>
</html>
