<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
      Howdy, <%= @organization.name %>!
      <br/><br/>
      Your monthly invoice from Enrollex amounts to $BEELION.
  </body>
</html>
