$('#edit').prepend('<div style="width:225px" class="alert alert-success hide"><a class="close" data-dismiss="alert">×</a>Instructor successfully updated!</div>')
$('.alert').fadeIn('slow')
$('body').animate({scrollTop: 150}, 'slow')
