$('#info').prepend('<div style="width:275px" class="alert alert-success hide"><a class="close" data-dismiss="alert">×</a>Organization info successfully updated!</div>')
$('#info .alert').fadeIn('slow')
window.scrollTo(0,0)
