$('#info fieldset').prepend('<div style="width:225px" class="alert alert-success hide"><a class="close" data-dismiss="alert">×</a>Course info successfully updated!</div>')
$('#info .alert').fadeIn('slow')