%h1 Welcome to #{organization.name}!
%h2 Featured Courses
- courses = organization.courses.featured.reorder(:created_at)
- courses.each_with_index do |course, index|
  - if index % 2 == 0
    .row
      = render partial: 'courses/featured', locals: { course: course }
      - if courses[index+1]
        = render partial: 'courses/featured', locals: { course: courses[index+1] }
