%h1 Welcome to #{organization.name}!
%h2 Featured Courses
- featured_courses.each_with_index do |course, index|
  - if index % 2 == 0
    .row
      = render partial: 'courses/featured', locals: { course: course }
      - if featured_courses[index+1]
        = render partial: 'courses/featured', locals: { course: featured_courses[index+1] }