.table
  tbody tr:hover td
    cursor: pointer
    background-color: rgb(254,255,194)
  tbody td i:hover
    opacity: .5

.modal-center
  text-align: center
  padding: 20px

#active_card
  display: inline-block

#calendar
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -khtml-user-select: none
  -o-user-select: none

#course_info
  .btn
    width: 918px
    height: 35px
    font-size: 25px
    div
      margin-top: 6px
  hr
    border-top: 1px solid #333
    margin-bottom: 20px
  h1
    text-align: center
    padding: 5px 0 20px 0
  .well
    min-height: 185px
    h3, h5
      margin-bottom: 8px
      text-align: center
    &.description
      position: relative
      p
        margin-bottom: 35px
      .img
        width: 220px
        height: 185px
        float: right
        img
          position: absolute
          right: 20px
    &.general-info
      .span6.first
        width: 45%
      .span6.last
        border-left: thin solid #333
        padding-left: 15px
        min-height: 230px
      li
        padding-bottom: 4px
    &.instructor
      h3
        margin-bottom: 3px
      img
        float: right
        padding-left: 20px

#catalog_header
  margin-bottom: 10px
  h1
    float: left
  form
    display: inline-block
    margin-left: 10px
  #catalog_header_content
    display: inline-block
    margin: 5px 0 0 10px
  #add_button
    display: inline-block
  #previous_container
    display: inline-block
    margin-left: 10px

#time_container
  dl
    text-align: left

#footer
  margin: 15px
  text-align: center

#nav
  margin-top: 20px
  margin-bottom: 0
  .navbar-inner
    border-radius: 4px 4px 0 0
    -moz-border-radius: 4px 4px 0 0
    -webkit-border-radius: 4px 4px 0 0
  .pull-left
    width: 740px
  .divider-vertical
    background-color: transparent
    border-right: 2px dashed #444

#content
  padding: 20px
  background-color: white
  border-radius: 0 0 4px 4px

#signup
  form
    display: inline
    input
      display: block

#time-confirm
  input, textarea
    width: 500px
    display: block

#courses, #list table
  .full td
    background-color: #4082ED
  .unpublished td
    background-color: #BBB
  td.actions a
    float: left
    padding-right: 4px
  th
    &.id
      min-width: 40px
    &.location
      min-width: 90px
    &.range
      min-width: 70px
    &.start-time, &.end-time
      min-width: 70px
    &:hover
      cursor: pointer
      .icons a > i
        opacity: .62
    &.headerSortUp
      .top
        opacity: .95 !important
    &.headerSortDown
      .bottom
        opacity: .95 !important
    .icons
      position: relative
      padding-right: 12px
      margin-left: 4px
      display: inline-block
      i
        position: absolute
        opacity: .25
        filter: alpha(opacity=25)
        &.top
          bottom: 4px
        &.bottom
          bottom: -9px

#new_content
  table
    thead
      th.date
      th.start
      th.end
    tbody
      td.date
        width: 20px
      td.start
        width: 155px
        .to
          margin-left: 10px
      td.end
        width: 130px
      td.remove
        div
          margin-top: 3px
      div
        display: inline-block

#new_content
  td.remove
    div
      display: inline-block
      margin-left: 6px
      a:hover
        opacity: 0.95
        filter: alpha(opacity=95)
      a
        font-size: 20px
        font-weight: bold
        line-height: 18px
        color: rgb(153,0,0)
        text-shadow: 0 thin 0 white
        text-decoration: none
        cursor: pointer
        opacity: 0.65
        filter: alpha(opacity=65)

#create, #info
  #instructors
    .iclose
      display: inline-block
      margin-left: 6px
      a:hover
        opacity: 0.95
        filter: alpha(opacity=95)
      a
        font-size: 16px
        font-weight: bold
        line-height: 18px
        color: rgb(153,0,0)
        text-shadow: 0 thin 0 white
        text-decoration: none
        cursor: pointer
        opacity: 0.65
        filter: alpha(opacity=65)

.course
  height: 275px
  margin-bottom: 25px
  position: relative
  background-color: #eee
  h3
    text-align: center
    padding: 10px
  .content
    margin: 10px 0 0 200px
    p
      overflow: auto
      height: 160px
  .image
    position: absolute
    top: 50px
    left: 10px
  .register
    position: absolute
    bottom: 10px
    right: 80px
  .price
    position: absolute
    bottom: 15px
    right: 25px
  .label-container
    position: absolute
    bottom: 8px
    left: 10px
    width: 180px
    text-align: center
  .label
    display: inline
    padding: 3px
