.table
  tbody tr:hover td, tbody tr:hover th
    background-color: #f5f5f5
    cursor: pointer

#time_container
  dl
    text-align: left

#header
  height: 50px
  padding: 15px
  #nav
    float: right
    .tab-text
      margin-top: 9px

#content
  margin: auto
  width: 768px

#signup
  form
    display: inline
    input
      display: block

#time-confirm
  input, textarea
    width: 500px
    display: block

table#courses
  thead
    .name
      width: 25%
    .range
      width: 14%
    .location
      width: 25%
    .dates, .times
      width: 18%

#new_content
  table
    thead
      th.date
      th.start
      th.end
    tbody
      td.date
        width: 20px
      td.start
        width: 155px
        .to
          margin-left: 10px
      td.end
        width: 130px
      td.remove
        div
          margin-top: 3px
      div
        display: inline-block

#new_content
  td.remove
    div
      display: inline-block
      margin-left: 6px
      a:hover
        opacity: 0.95
        filter: alpha(opacity=95)
      a
        font-size: 20px
        font-weight: bold
        line-height: 18px
        color: rgb(153,0,0)
        text-shadow: 0 thin 0 white
        text-decoration: none
        cursor: pointer
        opacity: 0.65
        filter: alpha(opacity=65)

#create, #info
  #instructors
    .iclose
      display: inline-block
      margin-left: 6px
      a:hover
        opacity: 0.95
        filter: alpha(opacity=95)
      a
        font-size: 16px
        font-weight: bold
        line-height: 18px
        color: rgb(153,0,0)
        text-shadow: 0 thin 0 white
        text-decoration: none
        cursor: pointer
        opacity: 0.65
        filter: alpha(opacity=65)

.course
  height: 225px
  margin-bottom: 25px
  position: relative
  background-color: #eee
  .content
    margin-left: 200px
  .image
    position: absolute
    top: 10px
    left: 10px
  .register
    position: absolute
    bottom: 10px
    right: 80px
  .price
    position: absolute
    bottom: 15px
    right: 25px
  .label-container
    position: absolute
    bottom: 8px
    left: 10px
    width: 180px
    text-align: center
  .label
    display: inline
    padding: 3px
