#calendar
  z-index: 1
  display: none
  position: absolute
  table
    background-color: whiteSmoke
    td
      cursor: pointer
    th.day
      cursor: pointer

#time_container
  z-index: 2
  display: none
  position: absolute
  padding: 10px
  background-color: whiteSmoke
  border: thin solid #444
  text-align: center
  input
    width: 20px
  select
    width: 60px
